body {
    margin: 0;
    background-color: #787878;
}

h1 {
    display:flex;
    justify-content: center;
    align-content: center;
    gap: 150px;
    margin: 0;
    padding: 40px;
    background-color: #3B3B3B;
}

.combat-style {
    font-size: 40px;
    font-family: "MedievalSharp", sans-serif;
    font-weight: bolder;
}

.magic {
    color: #A7C7E7;
}

.melee {
    color: #FF6961;
}

.ranged {
    color: #b4d3b2;
}