body {
    margin: 0;
    background-color: #787878;
    font-family: "MedievalSharp", sans-serif;
}

h1 {
    display:flex;
    justify-content: center;
    align-content: center;
    gap: 150px;
    margin: 0;
    padding: 40px;
    background-color: #3B3B3B;

    font-size: 40px;
    font-weight: bolder;
}

.magic {
    color: #A7C7E7;
}
.melee {
    color: #FF6961;
}
.ranged {
    color: #b4d3b2;
}

p.combat-style,
p.runescape {
    text-align: center;
    quotes: none;
}

.spacer {
    margin: 20px 20px;
}

.combat-style {
    font-size: 24px;
    margin-top: 50px;
}

.runescape {
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.button {
    width: 150px;
    height: 150px;
    border: 0px;
    padding: 0px;
}
